################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ERPM.Api.Repository/obj
/ERPM.Api.Services/obj
/ERPM.Api/.vs/ERPM.Api/v17
/ERPM.Api/obj
/.vs
/ERPM.Api/bin
/ERPM.Api.Repository/bin
/ERPM.Api.Services/bin
/ERPM.Api/.vs/ERPM.Api/DesignTimeBuild
/ERPM.Api/.vs/ERPM.Api
